<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Reaktiv programmering med Rx.js</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand" style="width:400px" href="#">
                    <div class="pull-left">
                        <img src="http://pbs.twimg.com/profile_images/826739708596215808/a9x9Rxql_400x400.jpg" style="margin-left:-29em; margin-top:-0.5em; width:40px; margin-right:1em;"
                        />
                        <b>Day of the Programmer 2017 / Reaktiv programmering med Rx.js</b>
                    </div>

                    <div class="pull-right">
                        <button id="refreshBtn" class="btn btn-primary" style="margin-top:-0.8em;">Refresh</button>
                    </div>
                </a>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="starter-template">
            <h1>Bootstrap starter template</h1>

            <div id="content">
                <div id="userList">
                </div>
            <div>
        </div>
    </div>

</body>

</html>